<div class="container">
  <h1>Quotes</h1>
  <hr>
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <div class="row" *ngFor='let quote of quotes;let i = index'>
    <h4 id="{{i}}">{{quote.name}} posted on {{quote.complete|date|uppercase}}</h4>
    <button class="btn btn-primary" (click)='toogleDetails(i)'>Details</button>
  </div>
  <div class="row" *ngIf="quote.showDescription">
    <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,1)'></app-quote-details>
  </div>
</div>
